$plat-blue:                   #23407b !default;
$plat-light-blue:             #465E80 !default;

$body-color:                  $plat-blue !default;
$list-group-action-color:     $plat-blue !default;
$primary:                     $plat-blue !default;
$drawer-bg:                   $plat-light-blue !default;
$navbar-dark-color:           $plat-light-blue !default;